*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    width:100vw;
    height:100vh;

    overflow:hidden;

    font-family:Georgia, serif;

    position:relative;

}

.background{

    position:absolute;

    width:100%;
    height:100%;

    object-fit:cover;

    z-index:-2;

}

#overlay{

    position:absolute;

    width:100%;
    height:100%;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

    transition: 2s;

}

#title{

    color:white;

    font-size:52px;

    text-shadow:0 0 20px rgba(0,0,0,.8);

    margin-bottom:70px;

    min-height:140px;

}

#buttons{

    display:none;

    gap:60px;

}

button{

    padding:18px 55px;

    border:none;

    border-radius:50px;

    font-size:28px;

    cursor:pointer;

    transition:.3s;

    font-weight:bold;

}

#yesBtn{

    background:#ff4f8b;

    color:white;

}

#yesBtn:hover{

    transform:scale(1.08);

}

#noBtn{

    background:white;

    color:#ff4f8b;

    position:relative;

}

#hearts{

    position:absolute;

    width:100%;
    height:100%;

    pointer-events:none;

}

#theEnd{

    position:absolute;

    width:100%;
    height:100%;

    background:black;

    color:white;

    display:flex;

    justify-content:center;

    align-items:center;

    font-size:70px;

    font-family:Georgia, serif;

    opacity:0;

    pointer-events:none;

    transition:2s;

    z-index:100;
}

body{

    opacity:0;

    animation:pageIn .4s ease forwards;

}

@keyframes pageIn{

    from{

        opacity:0;

    }

    to{

        opacity:1;

    }

}

.page{

    width:100%;
    height:100%;

    opacity:0;

    animation:pageIn .4s ease forwards;

    transition:opacity .4s ease;

}

@keyframes pageIn{

    from{
        opacity:0;
    }

    to{
        opacity:1;
    }

}

@media screen and (max-width:900px) and (orientation:landscape){

#title{

    font-size:34px;

    margin-bottom:35px;

    min-height:90px;

    width:90%;

}

#buttons{

    gap:30px;

}

button{

    font-size:20px;

    padding:14px 32px;

}

#theEnd{

    font-size:48px;

}

}